/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */
html,
body {
  height: 100%;
}

body {
  /* margin: 0; */
  font-size: .9rem;
  font-family: 'Montserrat', Verdana, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  color: #2b2b2b;
}

.main {
  /* background-color: #fff; */
}

.skills,
.portfolio,
.contact {
  padding: 3.5em 0;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.split {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 1.4em;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  line-height: 1.6;
  margin: 0;
}



/* Header and main Nav styles */
header {
  padding: 1.2em 0;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav .nav-link {
  display: block;
  padding: 10px 15px;
  margin-bottom: .5em;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #2b2b2b;
}

.main-nav .nav-link {
  background-color: #fff;
  font-size: .85rem;
}

.nav-link:hover,
.nav-link:active {
  color: #7d7d7d;
}

.profile-image {
  width: 75%;
  margin: 2em auto;
}

.profile-bio {
  color: #7d7d7d;
  margin-bottom: 1em;
}



/* Skills and icon styles */
/* .icon-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.icon {
  width: 30%;
} */


/* Portfolio section and cards styles */
.portfolio {
  margin: 0 auto;
  background-color: #fff;
}

.portfolio-text {
  padding: 1.5em 1em;
}

.portfolio-text h3 {
  margin-bottom: 1em;
}

/* Contact styles */

.contact p {
  margin-bottom: 1em;
}

.contact-label {
  margin-right: .5em;
}

/* Footer styles */
.footer {
  margin-top: auto;
  height: 100px;
  display: flex;
}

.footer-container {
  width: 95%;
  margin: 0 auto;
  border-top: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
}

.footer-container h3,
.footer-container li {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 1rem;
}

.footer-nav {
  list-style: none;
  font-size: 1rem;
}

.full {
  display: none;
}

@media (min-width: 768px) {
  /* handle footer nav collapse/expand */
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
}